.containero {
    background-color: var(--foreground-color);
    width: 430px;
    height: 112px;
    position: absolute;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .imageContainer {
    position: absolute;
    margin-top: 20px;
  }

  .imageContainer1 {
    position: absolute;
    margin-top: 16px;
    margin-left: 16px;
  }
  
  .containera {
    width: 430px;
    height: 184px;
  }


  .container > h1 {
    z-index: 100;
    color: white;
    width: 175px;
    text-align: center;
    padding: 48px 0px 0px 0px;
  }

  .designElem {
    width: 375px;
    height: 130px;
    margin-top: -72px;
  }

