.card {
    width: 398px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0px;
    margin: 16px 0px;
}

.card > p {
    padding: 16px 32px 0px 32px;
}

.imageDesign {
    position: absolute;
}

.image {
    width: 100%;
    height: 216px;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.imagee {
    z-index: 1;
    border-radius: 30px;
    object-fit: cover;
}