.outerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height:7rem;
    width:100vw;
    background-color: var(--foreground-color);
    position: fixed;
    bottom: 0;
}

.innerContainer>h3{
    color:var(--background-color);
}

.radialMenu{
    margin-top: -140px;
    padding-bottom: 20px;
}

.link>button{
    background-color: transparent;
    color:var(--foreground-color);
    border: none;
    width: 80px;
    height: 40px;
    border-radius: 50%;
    margin-top: 20px;
}


.link:visited {
    color: var(--background-color);
  }