.main {
    display: flex;
    justify-content: center;
    color: var(--foreground-color);
}

.mainAbout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    width: 340px;
    padding-bottom: 12rem;
}

.backArrow {
    margin-top: -32px;
    margin-bottom: 16px;
    width: 398px;
}

.flip {
    transform: scaleX(-1);
}

.aboutApp {
    display: flex;
    flex-direction: column;     

    border: 2px solid var(--background-color);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 50px;
    box-shadow: var(--box-shadow);
    gap: 5em;
    width: 382px;
    padding: 16px;
}

.header {
    display: flex;
    justify-content: center;

}

.headerText {
    color: var(--foreground-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 10px;
    margin-right: 5em;
    white-space: nowrap;
}