.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeContainer > h1 {
    font-size: 48px;
    text-align: center;
    margin: 96px 0px 32px 0px;
    color: #075880;
}

.chatGPT {
    width: 366px;
    padding: 40px 16px;
    border: solid 3px;
    text-align: center;
    margin: 16px 0px 8px 0px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 700;
    color: #075880;
}

.homeLinks > button {
    border-radius: 30px;
    padding: 20px 45px;
    background-color: #075880;
    border: none;
    color:#A0E4FF;
    box-shadow: 1px 5px 10px 3px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    margin-top: 16px;
}

.homeLinks > .lightBlue {
    color: #075880;
    background-color: #A0E4FF;
}

.terryAgh {
    margin-top: 128px;
    margin-bottom: 40px;
}

.motivationalContainer {
    width: 366px;
    padding: 40px 16px;
    border: solid 3px;
    text-align: center;
    margin: 16px 0px 8px 0px;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 700;
    color: #075880;
}

