.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 20vh;
    background-color: var(--background-color);
  }

  .chat{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color:var(--foreground-color);
    background-color: var(--background-color);
    font-weight: bold;
  }

  .chat>h1{
    width:14rem;
    margin: auto;
  }

  .chat>input{
    background-color: var(--foreground-color);
    color:var(--background-color);
    border-radius: 8px;
    border:none;
    padding: 4px;
  }

  .chat>input:focus{
    outline:none;
  }

  .input{
    background-color: var(--foreground-color);
    color:var(--background-color);
    border-radius: 8px 0px 0px 8px;
    border: none;
    padding: 4px;
    margin-left:-3rem;
  }

  .input:focus{
    outline: none;
  }

  .submit{
    background-color: var(--foreground-color);
    border: none;
    color:var(--background-color);
    border-radius: 0px 8px 8px 0px;
    padding:4px;
    position: fixed;
  }

  .senderMessage {
    text-align: right;
    background-color: var(--foreground-color);
    color: var(--background-color);
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
  }
  
  .receiverMessage {
    text-align: left;
    background-color: var(--background-color-2);
    color: var(--background-color);
    border-radius: 8px;
    padding: 8px;
    margin: 8px;
  }
  
  